body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 10vh;
  width: 100vw;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.navbar a {
  text-decoration: none;
}

.divBeer {
  display: flex;
  border-radius: 3px;
  margin-bottom: 3px;
}

.divImg {
  display: flex;
}

.imgBeer {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.divDetail {
  padding: 10px;
}

.divDetail * {
  margin: 10px;
  text-decoration: none;
}

.divBeer h3 {
  color: grey;
}

.divBeer p {
  font-size: 12px;
}

.div-detail {
  display: flex;
  flex-direction: column;
}

.container-detail {
  height: 85vh;
  width: auto;
  padding: 10px 10px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.container-detail img {
  max-height: 30vh;
  max-width: 30vw;
}

.container-img {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px;
}

.description {
  font-weight: 500;
  margin-bottom: 30px;
  padding: 10px 10px;
}

.contributed {
  color: grey;
  padding: 10px 10px;
}